<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Web Page Title</title>
    
    <!-- Link to the CSS stylesheet (styles.css) -->
    <link rel="stylesheet" href="../static/styles.css">

    <!-- Include the JavaScript file (script.js) -->
    <script src="../static/script.js"></script>
    <!-- ..  indicates going up one level from current dir to root directory, then entering the static dir to find the file. -->
</head>
<body>
    <h1>Random Colorized Symmetric Pixel Image Generator (RCSPIG).</h1>
    <!-- HTML Content goes here -->
    Hello World
    <button onclick="myFunction()">Click me</button>
</body>
</html>